@import url('https://fonts.googleapis.com/css?family=Actor|Bungee+Outline');

body {
  background-color: white;
  font-family: 'Actor', sans-serif;
}

.header {
  background-image: url('https://images.unsplash.com/photo-1466096115517-bceecbfb6fde?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=e37322a39113ee4af5599f5e36532107');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 25px;
  padding: 6% 0;
  border-radius: 20px;
  text-align: center;
  border: 5px solid #6fcb9f;
  height: 200px;
}

.header a {
  color: 	#fb2e01;
  font-family: 'Bungee Outline';
  text-decoration: none;
  position: absolute;
  margin: -5.5% 25% 0 -15%;
  text-shadow: 1px 1px black, 2px 0px black, 4px 0px black;
}

.header a:hover {
  opacity: 0.4;
}

.header h1 {
  font-size: 3em;
}

.header-stripe {
  height: 50px;
  margin: 100px
  position: absolute;
  background-color: white;
  opacity: 0.4;
}

a:hover {
  text-decoration: none;
}

.question-tile {
  color: #666547;
}

.question-tile:hover {
  opacity: 0.5;
}

.home-page-header {
  text-align: center;
  color: #666547;
}

.question-tile {
  height: 100px;
}

.question-tile h4,
.question-tile h5 {
  text-align: center;
}

.btn {
  margin: 1% 0;
}

.new-question-btn {
  margin: 1% 40%;
}
