@import url('https://fonts.googleapis.com/css?family=Actor|Fugaz+One');

body {
  background-color: white;
  font-family: 'Actor', sans-serif;
  padding-top: 30px
}

.header {
  background-image: url('https://images.unsplash.com/photo-1466096115517-bceecbfb6fde?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=e37322a39113ee4af5599f5e36532107');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 25px;
  padding: 6% 0;
  border-radius: 20px;
  text-align: center;
  border: 5px solid #6fcb9f;
  height: 200px;
}

.main-header {
  color: 	#e24422;
  font-family: 'Fugaz One';
  font-size: 3.5em;
  background-color: rgba(111, 203, 159, 0.7 );
}

a:hover {
  text-decoration: none;
}

.question-tile {
  color: #666547;
  transition: 0.5s ease-out;
}

.question-tile:hover {
  transition: 0.5s ease-in;
  color: rgba(251,46,1, 0.7 );
  background-color: rgba(111, 203, 159, 0.3 );
}

.home-page-header {
  text-align: center;
  color: #666547;
}

.question-tile {
  padding: auto;
  height: 150px;
}

.question-tile h4,
.question-tile h5 {
  text-align: center;
}

.btn {
  margin: 1% 0;
  transition: 0.5s ease-out;
}

.btn:hover {
  transition: 0.5s ease-in;
  color: rgba(251,46,1, 0.7 );
  background-color: rgba(111, 203, 159, 0.3 );
}

.new-question-btn {
  margin: 1% 40%;
  transition: 0.5s ease-out;
}

.new-question-btn:hover {
  transition: 0.5s ease-in;
  color: rgba(251,46,1, 0.7 );
  background-color: rgba(111, 203, 159, 0.3 );
}
