
{{#if model}}
  <h3>Favorite Questions:</h3>
  {{#each model as |question|}}
    <div class="favorite-question-tiles">
      {{favorite-questions-tile question=question}}
    </div>
  {{/each}}
{{else}}
  <h3>No favorite questions yet!</h3>
{{/if}}
