<div class="home-page-header">
  <h2> What are <em>you</em> wondering?</h2>
  <h3>Recent Questions</h3>
</div>
  <div class="row">
    {{#each questions as | question |}}
      <div class="col-md-6">
        {{log favorites}}
        {{question-tile question=question favorites=favorites}}
      </div>
    {{/each}}
  </div>
  <div class="col-md-12">
    {{new-question postQuestion="postQuestion"}}
  </div>
