<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {{question-detail question=model.question favorites=model.favorites updateQuestion="updateQuestion" deleteQuestion="deleteQuestion" postAnswer="postAnswer"}}
  </div>
</div>
